body{
    font-family: aral, Arial, Helvetica, sans-serif;
}
/*div{
    display: flex;
    padding: 10px, 30px, 0, 30px;
}*/
table{
    border-collapse: collapse;
    width: 100%;
}
td, th, tr{
    border: solid 1px #dfe5eb;
    text-align: center;
    min-width: 100px;
    height: 40px;
    font-size: 14px;
    font-size: small;
    color:#162d3d;
}
td:first-child {
    text-align: left;
    width:200px;
}
.top{
    font-size: 16px;
    }
.head{
    text-decoration: none;
    font-size: 13px;
    font-size: small;
    padding-top: 10px;
    color:#162d3d;
}
